:root {
    --clr-charcoal: #333;
    --clr-white: #eee;
    --clr-true-white: #fff;
    --clr-primary-hover: #4489b1;
    --f-sans-serif: 'Inter', sans-serif;
    --f-serif: 'Century Schoolbook', Georgia, serif;
}