<footer>
	<div class="container">
		<div class="footer-columns">
			{{ if .Site.Menus.footer }}
				<ul class="footer-links">
					<li>
						<h2>Pages</h2>
					</li>
					{{ range .Site.Menus.footer }}
						<li>
							<a href="{{ .URL }}" title="{{ .Name }} page">{{ .Name }}</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}

			{{ if $.Site.Data.company.social_links }}
			<ul class="footer-links">
				<li>
					<h2>Social</h2>
				</li>
				{{ range $.Site.Data.company.social_links }}
					<li>
						<a target="_blank" rel="noopener" href="{{ .link }}" class="{{ .name | urlize }}-icon">
							{{ partial "social-icon.html" . }}
							{{ .name }}
						</a>
					</li>
				{{ end }}
			</ul>
			{{ end }}

			<ul class="footer-links">
				<li>
					<h2>{{ $.Site.Data.company.title }}</h2>
				</li>
				<li>{{ $.Site.Data.company.description }}</li>
			</ul>
		</div>
	</div>

	<div class="legal-line">
		<p class="container">
			&copy; {{ now.Format "2006" }} {{ $.Site.Data.company.full_name }}
		</p>
	</div>
</footer>
